@charset "UTF-8";


#center-image{width: 170px; margin-left: 15px; margin-top: 5px;}
#seatgd h5{font-weight: bold; position: absolute;}
#seatinner{ top: 245px; margin-left: 76px; width: 236px; height: 300px;}
#seatinner label#vip {font-size: 18;font-weight: bold;}
#seatinner label#r {font-size: 18;font-weight: bold;}
#seatinner label#s {font-size: 18;font-weight: bold;}
#seatinner label#e {font-size: 18;font-weight: bold;}
#r_seat{border: 1px solid; top: 140px; width: 300px; height: 160px; position: absolute;  margin-left: 0px;}
div#btng button#dropM:first-child { background-color: #8f01a3;border: 1px solid #8f01a3;}
div#btng button#dropM:hover:first-child {background-color: white;border: 1px solid #8f01a3;color: #8f01a3; font-weight: bold;}
#container>span{font-weight: bold;    position: absolute; top: 10px;}  
.nav-pills .nav-link {
	border-radius: 0px;
}
.nav-pills .nav-font{
	font-family: 'Gothic A1', sans-serif;
	font: 15px ;
	font-weight:bold;
	padding: .7rem 1rem;
	border-radius: 0;
}

.nav-pills .nav-link.default{
	color: #8f01a3;
    border-left: 1px solid #8f01a3;
}

.nav-pills .nav-item:first-child .nav-link.default{
	color: #8f01a3;
	border: none;
}

.nav-pills{
	border: 1px solid #8f01a3;
    border-radius: .25rem;
}

.btn-color{
	background-color: #8f01a3;
	border: 1px solid #8f01a3;
}

.btn-color:hover{
	background-color: white;
	border: 1px solid #8f01a3;
	color: #8f01a3;
}




.nav-pills .nav-link.select{
    color: #fff;
    background-color: #8f01a3;
}

 
.nav-pills .nav-link {
	border-radius: 0px;
}
.nav-pills .nav-font{
	font-family: 'Gothic A1', sans-serif;
	font: 15px ;
	font-weight:bold;
	padding: .7rem 1rem;
	border-radius: 0;
}

.nav-pills .nav-link.default{
	color: #8f01a3;
    border-left: 1px solid #8f01a3;
}

.nav-pills .nav-item:first-child .nav-link.default{
	color: #8f01a3;
	border: none;
}

.nav-pills{
	border: 1px solid #8f01a3;
    border-radius: .25rem;
}

.btn-color{
	background-color: #8f01a3;
	border: 1px solid #8f01a3;
}

.btn-color:hover{
	background-color: white;
	border: 1px solid #8f01a3;
	color: #8f01a3;
}
body{font-family: 'Gothic A1', sans-serif;}
.inner{ width: 850px; margin-left: 15px;}
#seatBimg{margin-top: 30px; width: 480px;}
#seatSimg{width:190px;}
#seatgdimg {
    top: 34px;
    right: 30px;
    position: absolute;
}
#center-image{width: 170px; margin-left: 15px; margin-top: 5px;}
#seatgd h5{font-weight: bold; position: absolute; font-family: 'Gothic A1', sans-serif;}
#seatgd h6 {
    font-weight: bold;
    position: absolute;
    font-family: 'Gothic A1', sans-serif;
    right: 158px;
    bottom: 200px;
}
#seatgd {
    position: absolute;
    top: 235px;
    width: 300px;
    height: 210px;
    right: 10px;
}
#seatinner {
    top: 245px;
    right: 0px;
    width: 236px;
    height: 300px;
}
#seatinner label#vip {font-weight: bold;font-family: 'Gothic A1', sans-serif;}
#seatinner label#r {font-weight: bold;font-family: 'Gothic A1', sans-serif;}
#seatinner label#s {font-weight: bold;font-family: 'Gothic A1', sans-serif;}
#seatinner label#e {font-weight: bold;font-family: 'Gothic A1', sans-serif;}
#r_seat {
    top: 140px;
    right: 0px;
    width: 230px;
    height: 160px;
    position: absolute;
    margin-left: 0px;
    font-family: 'Gothic A1', sans-serif;
}

#container>span{font-weight: bold;    position: absolute; top: 10px;}  
.t_btndiv{margin-left: 74px;}
.t_button1{font-family: 'Gothic A1', sans-serif; background-color: white; border: solid 1px #666; color:#666; font-weight: bold; padding: 15 15 15 15px; text-align: center;}
.t_button2{font-family: 'Gothic A1', sans-serif; background-color: rgb(246,2,1); border: solid 1px rgb(246,2,1); color: white; font-weight: bold; padding: 15 15 15 15px; margin-left: 8px;}











