@charset "UTF-8";

/* 헤더 이미지*/
#center-image{
	position: absolute;
    width: 200px;
    top: -3px;
}
/*--------------- #cssH1 - 헬프메인 검색  부분--------------- */

.help_rcont .search_area {
    position: relative;
    width: 740px;
    margin: 32px auto;
    font-size: 0;
    border: 1px solid #8f01a3;
    height: 67px;
}
.help_rcont .search_area .search {
    clear: both;
    width: 334px;
    height: 37px;
    margin-left: 30px;
    border: 1px solid #8f01a3;
    position: absolute;
    top: 15px;
    left: 200px;
}


.help_rcont .search #fieldsetS{height:35px;position:relative;margin: 0 0 0 0px; border: none;}
.help_rcont .search input[type=text]{line-height:100%; position: absolute; top: 0px; left: 0px; width: 290px; height: 34px; border: none;}
/* @media screen {#header .search input[type=text]{line-height:36px; position: absolute; top: 0px; left: 0px;}} *//* ie 8 */
/* .material-icons {text-align:center;color: white;} */
.help_rcont .search .btn_search{display:inline-block;background-color:#8f01a3;background-position:-206px 8px;width:40px;height:36px;padding:6px 6px 6px 10px;vertical-align:top;position:absolute;top:0;right:0;}

#write{
	margin-left: 680px;
	margin-bottom: 10px;
	
}

#faqWriteEnd{
	margin-left: 50px;
	padding: 10px 0;

}
#faqWriteTable th{
	padding: 20px 10px;	
}
#complete{
	margin-left: 342px;
    margin-top: 20px
}
#cancel{
    margin-top: 20px
}

#nTableBody tr, #NTableBody tr{
	cursor:pointer;
}

table#tbl-write td div.custom-radio {
    float: left;
    margin-right: 30px;
}

table#tbl-write th {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    border-right: 0;
    vertical-align: middle;
    background-color: #f7f7f7;
}

table#tbl-write th.text-left {
    padding-left: 30px;
    width: 150px;
}

 
table#tbl-write th .ico-star {
    font-style: normal;
    vertical-align: middle;
    color: red;
}

table#tbl-write td {
    color: #666;
    padding: 20px 40px;
}

.help-title{
	font-family: 'Gothic A1', sans-serif;
    font-size: 26px;
    color: black;
    font-weight: bold;
}

.list_view thead tr.info{
	background:#f0f0f0;
}
.list_view tr.info td{
	padding:23px 20px;
}
.list_view tr.info .title{
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -1px;
	color: #000;
	font-weight: bold;
	max-width: 450px;
	padding: 2px 0 13px
}
.list_view tr.info dt{
	font-weight: bold;
	float: left;
	width: 55px;
	line-height: 22px;
}

.btn-reserve{
	margin-top: 10px;
    width: 100px;
    border-radius: 3%;
}

table.openList{
	margin:20px auto;
	border : 1px solid #dee2e6;
}
table.openList th{
	text-align: center;
	background: #aaa;
	color: white;
}
table.openList td{
	text-align: center;
	border-bottom: 1px solid #dee2e6;
}
.openList tbody{
	display: none;
	height: 200px;
	overflow: auto;
}
.ticketInfo{
	display: none;
}
.sm-font{
	font-size: 12px;
}
.basic_tbl tr td:hover{
	cursor: pointer;
}