@charset "UTF-8";

h2.title {
	font-family: 'Gothic A1', sans-serif;
	font-size: 26px;
	margin: 39px 0 17px;
	color:black;
	font-weight: bold;
}

h2.small-title {
	font-family: 'Gothic A1', sans-serif;
	font-size: 23px;
	color:black;
	    font-weight: bold;
}


h2.beforeSearch {
	display: inline-block;
}