@charset "utf-8";

.starrating-background {
     background: transparent url(../resources/images/T_03.png) repeat-x scroll 0 0; 
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0;
    width: 125px;
    vertical-align: middle;
}
	
.starrating-background span {
 	background: transparent url(../resources/images/T_01.png)
		repeat-x scroll 0 0; 
	cursor: pointer;
	display: inline-block;
	height: 30px !important;
}

.starrating-background em {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}  